<AbsoluteLayout>
    <StackLayout left="10" top="5" backgroundColor="#0099CC"></StackLayout>
</AbsoluteLayout>


<GridLayout class="page page-content">
    <ActivityIndicator class="activity-indicator" busy="true" *ngIf="loading"></ActivityIndicator>

    <FlexboxLayout flexDirection="row" justifyContent="center" class="calendario-dia">
        <Label text="11 de março de 2018"></Label>
    </FlexboxLayout>

    <ListView [items]="escalaServicoViewModel" class="list-group" *ngIf="!loading">
        <ng-template let-item="item">
            <FlexboxLayout flexDirection="column" alignContent="center" class="servico">
                <FlexboxLayout flexDirection="row" alignContent="center">
                    <StackLayout orientation="vertical">
                        <Label class="horario" [text]="item.horaInicio | date : 'HH:mm'"></Label>
                    </StackLayout>

                    <StackLayout flexGrow="1" orientation="vertical">
                        <Label class="codigo" [text]="item.codigo"></Label>

                        <StackLayout orientation="horizontal" class="box-servico" [ngClass]="{ 'danger' : item.indisponibilidade }">
                            <StackLayout orientation="horizontal">
                                <Image src="res://ic_train_48px" *ngIf="item.veiculo" stretch="none"></Image>
                                <Label [text]="item.veiculo.prefixo"></Label>
                            </StackLayout>

                            <!-- <StackLayout *ngFor="let f of item.funcionarios" orientation="horizontal">
                                <Image src="res://ic_train_48px" stretch="none"></Image>
                                <Label [text]="f.chapa"></Label>
                            </StackLayout> -->

                            <!-- <Image src="res://ic_airline_seat_recline_normal_48px" stretch="none"></Image>
                            <Image src="res://ic_monetization_on_48px" stretch="none"></Image> -->
                        </StackLayout>
                    </StackLayout>

                    <StackLayout orientation="vertical">
                        <Label class="horario" [text]="item.horaFim | date : 'HH:mm'"></Label>
                    </StackLayout>
                </FlexboxLayout>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</GridLayout>
